#OrderListComponent{
    width: 100%;
    .box{
        margin: 0 0 20px 0;
        background: #FCFCFC;
        border: 1px solid #ccc;
        padding: 25px 32px;
        .checkbox{
            width: 3%;
            margin: -4px 0 0 0;
        }
        .img{
            width: 11%;
            background: blue;
            img{
                width: 100%;
            }
        }
        .title{
            background: pink;
            //height: 100px;
            width: 33%;
            margin: 0 35px 0 15px;
        }
        .price{
            background: blue;
            width: 8%;
        }
        .number{
            margin: 0 25px;
            background: pink;
            width: 8%;
        }
        .total{
            background: blue;
            width: 8%;
        }
        .state{
            background: pink;
            width: 8%;
        }
        .operation{
            background: red;
            width: 8%;
        }
    }
}