/* 木偶组件 轮播器旁边的信息栏 */

#brnach-right{
  background: #fff;
  width: 240px;
  padding: 20px;
  height: 370px;
  .userShow{
    padding: 0 0 15px 0;
    .top{
      .headPortrait{
        width: 63px;
        margin: 0 auto;
        border-radius: 50%;
        border:2px solid #ccc;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      .welcome{
          text-align: center;
          font-size: 12px;
          line-height: 2;
          color: #999;
      }
    }
  
    .bottom{
      .loginAndRegister{
        padding:10px 0 0 0;
        width: 180px;
        margin: 0 auto;
        .login, .register{
          width: 80px;
          text-align: center;
          line-height: 28px;
          font-size: 13px;
          box-shadow: 2px 2px 5px #ccc;
          cursor: pointer;
          border-radius: 13px;
        }
        .login{
          background: #fff;
          color:#E43F3B;
        }
        .register{
          background: #363634;
          color: #E5D790;
        }
        .login:hover, .register:hover{
          background: red;
          color: #fff;
        }
      }
    }
  }
}


