#MyShoppingCart{
    width: 100%;
    h2{
        line-height: 48px;
        border-bottom:3px solid #E6E6E6;
    }
    .header{
        li{
           width: 100px;
           line-height: 4;
        }
        .li_1{
            width: 510px;
            text-align: center;
        }
        .li_2{
            width: 100px;
            padding: 0 0 0 5px;
        }
        .li_3{
            width: 100px;
            padding: 0 0 0 15px;
        }
        .li_4{
            padding: 0 0 0 15px;
        }
        .li_5{
            
            padding: 0 0 0 20px;
        }
    }
    .footer{
        height: 62px;
        background: #E5E5E5;
        
        .foot-left{
            height: 62px;
            width: 50px;
            background: red;
        }
        .foot-right{
            height: 62px;
            width: 50px;
            background: pink;
        }
    }
    
}