#MyShoppingCart{
    padding:0;
    width: 100%;
    min-height: 500px;
    h2{
        line-height: 48px;
        border-bottom:3px solid #E6E6E6;
    }
}

#MyOrder{
    min-height: 500px;
    .tab{
        span{
            display: inline-block;
            margin: 0 3px;
            padding: 0 10px;
            background: #FF450F;
            color: #fff;
            font-size: 12px;
            border-radius: 10px;
        }
    }
}

#MyDataModification{
    padding-top: 20px;
    min-height: 500px;
    .basic-info{
        border: 1px solid #eee;
        border-radius: 5px;
        width: 100%;
        padding: 20px;
        background: #FBFBFB;
        margin: 40px 0;
        .info-head-img{
            
        }
        .info-list{
            width: 750px;
        }
        .label{
            line-height: 32px;
        }
        .submit{
            padding: 10px 0 0 0;
            text-align: right;
        }
    }

    .password-remove{
        border: 1px solid #eee;
        border-radius: 5px;
        width: 100%;

        background: #FBFBFB;
        margin: 40px 0;
        .content{
            width: 400px;
            margin: 0 auto;
            .label{
                line-height: 32px;
            }

            .btn{
                padding: 20px 0;
                text-align: center;
            }
            .errort-text{
                color: red;
                margin: 0;
                line-height: 1.5;
                text-indent: 60px;
                font-size: 13px;
            }
        }
    }
}