

#OrderListComponent{
    h2{
        border-bottom: 2px solid #ccc;
        line-height: 3;
    }
}

#WaitForGoodsReceipt{
    h2{
        border-bottom: 2px solid #ccc;
        line-height: 3;
    }
}