#OrderListComponent{    
    h2{
        border-bottom: 2px solid #ccc;
        line-height: 3;
    }
}
#WaitForGoodsReceipt{
    h2{
        border-bottom: 2px solid #ccc;
        line-height: 3;
    }
}
#UpdataCommodity{
    .search-block{
        background: #FAFCFF;
        border-radius: 5px;
        border: 1px solid #eee;
        padding: 10px;
    }
    .commity-list{
        margin: 10px 0;
    }
}

#CommodityCategory{
    
}

#CommodityCategory{
   .add-new{
       cursor: pointer;
       color: #1890FF;
   }
   .operation{
       a{
           padding: 0 5px;
       }
   }
} 


#add-new-data-modal{
    .label{
        line-height: 32px;
    }
    .input-group{
        width: 400px;

        .item-row{
            margin: 0 0 10px 0;
        }
        .input{
            width: 350px;
        }
        .remove{
            line-height: 32px;
            padding: 0 5px;
            cursor: pointer;
            color: #1890FF;
        }
    }
    .add-new-row{
        width: 350px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        border-radius: 5px;
        border:1px dashed #ccc;
    }
}