
#login{
  position: relative;
  .bgimg{
    width: 100%;
    min-width: 1200px;
    img{
      width: 100%;
    }
  }
  .content{
    width: 336px;
    background: #fff;
    position: absolute;
    border-radius: 5px;
    right:100px;
    top:100px;
  }
  /* 设置选项卡 */
  .tab_head{
    display: block;
    width: 120px;
    text-align: center;
  }
  /* 设置选项卡图标 */
  svg.icon{
    margin-right: 5px;
  }
  
}
